In [1]:
import pandas as pd

In [26]:
PX_last_ETF = pd.read_csv("../../data/pxlast_sector_ETF.csv")
CUR_MKT_CAP_ETF = pd.read_csv("../../data/CUR_MKT_CAP_Sector_ETF.csv")
CUR_MKT_CAP_ETF.fillna(0, inplace=True)
CUR_MKT_CAP_ETF.set_index('Dates', inplace=True)

In [ ]:
PX_last_ETF=pd.melt(PX_last_ETF,id_vars=['Dates'], var_name='symbol',value_name="PX_last")
CUR_MKT_CAP_ETF=pd.melt(CUR_MKT_CAP_ETF,id_vars=['Dates'], var_name='symbol',value_name="CUR_MKT_CAP")
Data_ETF=pd.merge(PX_last_ETF, CUR_MKT_CAP_ETF, on=["Dates", "symbol"], how="outer")

In [ ]:
#divide each element by the sum of the row
CUR_MKT_CAP_ETF.div(CUR_MKT_CAP_ETF.sum(axis=1), axis=0)
#divide each element by the sum of the coulomn
CUR_MKT_CAP_ETF.div(CUR_MKT_CAP_ETF.sum(axis=0))

,XLC US Equity,XLY US Equity,XLP US Equity,XLE US Equity,XLF US Equity,XLV US Equity,XLI US Equity,XLB US Equity,XLRE US Equity,XLK US Equity,XLU US Equity
Dates,,,,,,,,,,,
1/2/2015,0.000000,0.098944,0.100920,0.122705,0.217305,0.121839,0.094801,0.029688,0.000000,0.136378,0.077422
1/9/2015,0.000000,0.099218,0.102242,0.118913,0.209733,0.133382,0.089602,0.029302,0.000000,0.139013,0.078595
1/16/2015,0.000000,0.100654,0.104418,0.122476,0.199437,0.134706,0.088931,0.029910,0.000000,0.136663,0.082806
1/23/2015,0.000000,0.092783,0.105218,0.120271,0.195734,0.138685,0.091395,0.030035,0.000000,0.139720,0.086160
1/30/2015,0.000000,0.092986,0.105511,0.128236,0.191203,0.139375,0.087752,0.029908,0.000000,0.135604,0.089427
...,...,...,...,...,...,...,...,...,...,...,...
12/6/2024,0.066869,0.076090,0.054532,0.112672,0.161610,0.122207,0.069833,0.019486,0.024419,0.236645,0.055636
12/13/2024,0.067899,0.077921,0.055349,0.111924,0.158546,0.122298,0.069069,0.019642,0.023885,0.238982,0.054486
12/20/2024,0.067436,0.076578,0.054270,0.109961,0.160774,0.121162,0.069209,0.018535,0.023172,0.243601,0.055303
12/27/2024,0.067369,0.077380,0.054038,0.109404,0.160521,0.121133,0.069095,0.018293,0.022837,0.245535,0.054394
1/3/2025,0.067914,0.077130,0.053550,0.111826,0.159776,0.122132,0.067591,0.017743,0.023106,0.244274,0.054959

In [13]:
print(Data_ETF)

           Dates         symbol  PX_last  CUR_MKT_CAP
0       1/2/2015  XLC US Equity      NaN          NaN
1       1/9/2015  XLC US Equity      NaN          NaN
2      1/16/2015  XLC US Equity      NaN          NaN
3      1/23/2015  XLC US Equity      NaN          NaN
4      1/30/2015  XLC US Equity      NaN          NaN
...          ...            ...      ...          ...
5748   12/6/2024  XLU US Equity    79.69   17601.4618
5749  12/13/2024  XLU US Equity    77.64   16985.6258
5750  12/20/2024  XLU US Equity    76.43   16705.6230
5751  12/27/2024  XLU US Equity    76.08   16473.1581
5752    1/3/2025  XLU US Equity    77.08   16562.5006

[5753 rows x 4 columns]

In [1]:
print("gdf")

gdf