Import libraries

In [1]:
# Analysis modules
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

### Load data

In [2]:
path_to_data  = '../../data/OriginalData.csv'
data = pd.read_csv(path_to_data)

print(data.info())

print('\nKEYS\n----')
for i in data.keys():
    print(i)
print()

display(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15748 entries, 0 to 15747
Data columns (total 49 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Dates                             15748 non-null  object
 1   symbol                            15748 non-null  object
 2   PX_LAST                           15748 non-null  float64
 3   Dividend_Per_Share                15748 non-null  float64
 4   TOTAL_EQUITY                      15748 non-null  float64
 5   CUR_MKT_CAP                       15748 non-null  float64
 6   gics_sector_name                  15748 non-null  object
 7   gics_sub_industry_name            15748 non-null  object
 8   gics_industry_name                15748 non-null  object
 9   gics_industry_group_name          15748 non-null  object
 10  gics_industry                     15748 non-null  int64
 11  gics_sector                       15748 non-null  int64
 12  Year                              15748 non-null  int64
 13  TOT_COMPENSATION_AW_TO_EXECS      15748 non-null  float64
 14  TOT_SALARIES_BNS_PD_TO_EXECS      15748 non-null  float64
 15  TOT_N_EQTY_INCENT_GIVEN_TO_EXECS  15748 non-null  int64
 16  TOT_SALARIES_PAID_TO_EXECUTIVES   15748 non-null  float64
 17  TOTAL_BONUSES_PAID_TO_EXECUTIVES  15748 non-null  int64
 18  ALL_OTHER_COMP_AW_TO_EXECS        15748 non-null  float64
 19  TOT_STK_AWARDS_GIVEN_TO_EXECS     15748 non-null  float64
 20  TOT_OPTION_AWARDS_GIVEN_TO_EXECS  15748 non-null  int64
 21  T_PEN_NQ_DEF_PEN_GVN_TO_EXECS     15748 non-null  float64
 22  TOT_OTHER_COMP_AW_TO_EXECS        15748 non-null  float64
 23  NUM_EXECUTIVE_CHANGES             15748 non-null  int64
 24  DATE_OF_LAST_EXECUTIVE_CHANGE     15748 non-null  object
 25  NUM_EXECS_INC_IN_COMPENSATION_PD  15748 non-null  int64
 26  CEO_DUALITY                       15748 non-null  int64
 27  TOT_COMP_AW_TO_CEO_EQUIV          15748 non-null  float64
 28  TOT_SAL_BNS_AW_TO_CEO_EQUIV       15748 non-null  float64
 29  TOT_N_EQT_INCENT_GVN_TO_CEO_EQ    15748 non-null  int64
 30  TOT_SALARIES_PAID_TO_CEO_EQUIV    15748 non-null  float64
 31  TOT_BONUSES_PAID_TO_CEO_EQUIV     15748 non-null  int64
 32  ALL_OTHER_COMP_AW_TO_CEO_EQUIV    15748 non-null  float64
 33  TOT_STK_AWD_GIVEN_TO_CEO_EQUIV    15748 non-null  float64
 34  TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV    15748 non-null  int64
 35  T_PEN_NQ_DEF_PEN_GVN_CEO_EQ       15748 non-null  float64
 36  TOT_OTHER_COMP_AW_TO_CEO_EQUIV    15748 non-null  float64
 37  NUM_CEO_EQUIVALENT_CHANGES        15748 non-null  int64
 38  COMP_LKD_LAST_CEO_&_EQUIV_CHG_DT  15748 non-null  int64
 39  NUM_CEOS_EQUIV_INC_COMP_PD        15748 non-null  int64
 40  CEO_TENURE_AS_OF_FY_END           15748 non-null  float64
 41  TOT_COMP_AW_TO_CFO_EQUIV          15748 non-null  float64
 42  TOT_COMP_AW_TO_COO_EQUIV          15748 non-null  int64
 43  TOTAL_BOD_COMPENSATION_AWARDED    15748 non-null  float64
 44  TOTAL_BOD_FEES_PAID_IN_CASH       15748 non-null  float64
 45  TOTAL_BOD_STOCK_AWARDS_GIVEN      15748 non-null  float64
 46  NUMBER_OF_BOD_CHANGES_DURING_FY   15748 non-null  int64
 47  DATE_OF_LAST_BOD_CHANGE           15748 non-null  object
 48  NUM_DIR_INC_IN_CMPNSTN_PD         15748 non-null  int64
dtypes: float64(23), int64(18), object(8)
memory usage: 5.9+ MB
None

KEYS
----
Dates
symbol
PX_LAST
Dividend_Per_Share
TOTAL_EQUITY
CUR_MKT_CAP
gics_sector_name
gics_sub_industry_name
gics_industry_name
gics_industry_group_name
gics_industry
gics_sector
Year
TOT_COMPENSATION_AW_TO_EXECS
TOT_SALARIES_BNS_PD_TO_EXECS
TOT_N_EQTY_INCENT_GIVEN_TO_EXECS
TOT_SALARIES_PAID_TO_EXECUTIVES
TOTAL_BONUSES_PAID_TO_EXECUTIVES
ALL_OTHER_COMP_AW_TO_EXECS
TOT_STK_AWARDS_GIVEN_TO_EXECS
TOT_OPTION_AWARDS_GIVEN_TO_EXECS
T_PEN_NQ_DEF_PEN_GVN_TO_EXECS
TOT_OTHER_COMP_AW_TO_EXECS
NUM_EXECUTIVE_CHANGES
DATE_OF_LAST_EXECUTIVE_CHANGE
NUM_EXECS_INC_IN_COMPENSATION_PD
CEO_DUALITY
TOT_COMP_AW_TO_CEO_EQUIV
TOT_SAL_BNS_AW_TO_CEO_EQUIV
TOT_N_EQT_INCENT_GVN_TO_CEO_EQ
TOT_SALARIES_PAID_TO_CEO_EQUIV
TOT_BONUSES_PAID_TO_CEO_EQUIV
ALL_OTHER_COMP_AW_TO_CEO_EQUIV
TOT_STK_AWD_GIVEN_TO_CEO_EQUIV
TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV
T_PEN_NQ_DEF_PEN_GVN_CEO_EQ
TOT_OTHER_COMP_AW_TO_CEO_EQUIV
NUM_CEO_EQUIVALENT_CHANGES
COMP_LKD_LAST_CEO_&_EQUIV_CHG_DT
NUM_CEOS_EQUIV_INC_COMP_PD
CEO_TENURE_AS_OF_FY_END
TOT_COMP_AW_TO_CFO_EQUIV
TOT_COMP_AW_TO_COO_EQUIV
TOTAL_BOD_COMPENSATION_AWARDED
TOTAL_BOD_FEES_PAID_IN_CASH
TOTAL_BOD_STOCK_AWARDS_GIVEN
NUMBER_OF_BOD_CHANGES_DURING_FY
DATE_OF_LAST_BOD_CHANGE
NUM_DIR_INC_IN_CMPNSTN_PD

,Dates,symbol,PX_LAST,Dividend_Per_Share,TOTAL_EQUITY,CUR_MKT_CAP,gics_sector_name,gics_sub_industry_name,gics_industry_name,gics_industry_group_name,...,NUM_CEOS_EQUIV_INC_COMP_PD,CEO_TENURE_AS_OF_FY_END,TOT_COMP_AW_TO_CFO_EQUIV,TOT_COMP_AW_TO_COO_EQUIV,TOTAL_BOD_COMPENSATION_AWARDED,TOTAL_BOD_FEES_PAID_IN_CASH,TOTAL_BOD_STOCK_AWARDS_GIVEN,NUMBER_OF_BOD_CHANGES_DURING_FY,DATE_OF_LAST_BOD_CHANGE,NUM_DIR_INC_IN_CMPNSTN_PD
0,2014-04-11,AAPL,18.5580,0.1089,120179.000,463486.4114,Information Technology,"Technology Hardware, Storage & Peripherals","Technology Hardware, Storage & Peripherals",Technology Hardware & Equipment,...,1,3.7500,18520521.0,0,2638340.0,697500.0,1906645.0,2,2014-07-17,8
1,2014-04-11,AMT,80.5500,0.3200,3701.605,31870.1921,Real Estate,Telecom Tower REITs,Specialized REITs,Equity Real Estate Investment Trusts (REITs),...,1,11.2500,4904866.0,0,1975088.0,775000.0,600071.0,1,2014-12-18,9
2,2014-04-11,AMZN,15.5870,0.0000,10328.000,143440.4076,Consumer Discretionary,Broadline Retail,Broadline Retail,Consumer Discretionary Distribution & Retail,...,1,18.6670,5962307.0,0,797000.0,0.0,797000.0,1,2014-07-31,9
3,2014-04-11,BHP,58.8727,0.0000,82279.000,180544.3056,Materials,Diversified Metals & Mining,Metals & Mining,Materials,...,1,1.1667,4639000.0,0,4695000.0,3617000.0,0.0,1,2014-04-15,13
4,2014-04-11,CAT,101.4500,0.6000,20369.000,64707.0750,Industrials,Construction Machinery & Heavy Transportation ...,Machinery,Capital Goods,...,1,4.5000,5286968.0,0,3206983.0,1714174.0,1375110.0,1,2014-12-31,11

### Produce subset dataframe

In [3]:
# Extract these keys from the original data set to produce a smaller set containing only what we need
relevant_data_keys = ['Dates', 
                 'Year', 
                 'symbol',
                 'PX_LAST', 
                 'gics_sector_name', 
                 'DATE_OF_LAST_EXECUTIVE_CHANGE',
                 'TOT_STK_AWD_GIVEN_TO_CEO_EQUIV',
                 'TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV',
                 'TOT_BONUSES_PAID_TO_CEO_EQUIV',
                 'TOT_N_EQT_INCENT_GVN_TO_CEO_EQ']

# Produce a subset dataframe containing only the necessary data
subset_data = data[relevant_data_keys].copy()

# Cast both dates columns to datetime64[ns]
# 'Dates', 'DATE_OF_LAST_EXECUTIVE_CHANGE'
subset_data['Dates'] = pd.to_datetime(subset_data['Dates'])
subset_data['DATE_OF_LAST_EXECUTIVE_CHANGE'] = pd.to_datetime(subset_data['DATE_OF_LAST_EXECUTIVE_CHANGE'])

subset_data.info()
subset_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15748 entries, 0 to 15747
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Dates                           15748 non-null  datetime64[ns]
 1   Year                            15748 non-null  int64
 2   symbol                          15748 non-null  object
 3   PX_LAST                         15748 non-null  float64
 4   gics_sector_name                15748 non-null  object
 5   DATE_OF_LAST_EXECUTIVE_CHANGE   15748 non-null  datetime64[ns]
 6   TOT_STK_AWD_GIVEN_TO_CEO_EQUIV  15748 non-null  float64
 7   TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV  15748 non-null  int64
 8   TOT_BONUSES_PAID_TO_CEO_EQUIV   15748 non-null  int64
 9   TOT_N_EQT_INCENT_GVN_TO_CEO_EQ  15748 non-null  int64
dtypes: datetime64[ns](2), float64(2), int64(4), object(2)
memory usage: 1.2+ MB

,Dates,Year,symbol,PX_LAST,gics_sector_name,DATE_OF_LAST_EXECUTIVE_CHANGE,TOT_STK_AWD_GIVEN_TO_CEO_EQUIV,TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV,TOT_BONUSES_PAID_TO_CEO_EQUIV,TOT_N_EQT_INCENT_GVN_TO_CEO_EQ
0,2014-04-11,2014,AAPL,18.5580,Information Technology,2014-05-29,0.0,0,0,6700000
1,2014-04-11,2014,AMT,80.5500,Real Estate,2013-12-31,4500051.0,4500007,0,2574000
2,2014-04-11,2014,AMZN,15.5870,Consumer Discretionary,2006-04-30,0.0,0,0,0
3,2014-04-11,2014,BHP,58.8727,Materials,2014-03-03,3338000.0,0,1568000,0
4,2014-04-11,2014,CAT,101.4500,Industrials,2013-01-01,0.0,8377481,0,4913288
...,...,...,...,...,...,...,...,...,...,...
15743,2023-12-29,2023,UNH,526.4700,Health Care,2022-03-01,15000970.0,5000114,0,1800000
15744,2023-12-29,2023,V,260.3500,Financials,2023-08-01,28004734.0,10707531,0,10312500
15745,2023-12-29,2023,WFC,49.2200,Financials,2020-10-01,16634168.0,0,0,6625000
15746,2023-12-29,2023,WMT,52.5500,Consumer Staples,2022-06-06,30103720.0,0,0,4627582
15747,2023-12-29,2023,XOM,99.9800,Energy,2022-05-01,23199750.0,0,4787000,0

### Isolate data for processing

In [4]:
# Create mini dataframe viewing just one company
aapl_df = subset_data[subset_data['symbol'] == 'AAPL'].copy()

display(aapl_df.info())
display(aapl_df)

<class 'pandas.core.frame.DataFrame'>
Index: 508 entries, 0 to 15717
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Dates                           508 non-null    datetime64[ns]
 1   Year                            508 non-null    int64
 2   symbol                          508 non-null    object
 3   PX_LAST                         508 non-null    float64
 4   gics_sector_name                508 non-null    object
 5   DATE_OF_LAST_EXECUTIVE_CHANGE   508 non-null    datetime64[ns]
 6   TOT_STK_AWD_GIVEN_TO_CEO_EQUIV  508 non-null    float64
 7   TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV  508 non-null    int64
 8   TOT_BONUSES_PAID_TO_CEO_EQUIV   508 non-null    int64
 9   TOT_N_EQT_INCENT_GVN_TO_CEO_EQ  508 non-null    int64
dtypes: datetime64[ns](2), float64(2), int64(4), object(2)
memory usage: 43.7+ KB

None

,Dates,Year,symbol,PX_LAST,gics_sector_name,DATE_OF_LAST_EXECUTIVE_CHANGE,TOT_STK_AWD_GIVEN_TO_CEO_EQUIV,TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV,TOT_BONUSES_PAID_TO_CEO_EQUIV,TOT_N_EQT_INCENT_GVN_TO_CEO_EQ
0,2014-04-11,2014,AAPL,18.558,Information Technology,2014-05-29,0.0,0,0,6700000
31,2014-04-18,2014,AAPL,18.748,Information Technology,2014-05-29,0.0,0,0,6700000
62,2014-04-25,2014,AAPL,20.426,Information Technology,2014-05-29,0.0,0,0,6700000
93,2014-05-02,2014,AAPL,21.164,Information Technology,2014-05-29,0.0,0,0,6700000
124,2014-05-09,2014,AAPL,20.912,Information Technology,2014-05-29,0.0,0,0,6700000
...,...,...,...,...,...,...,...,...,...,...
15593,2023-12-01,2023,AAPL,191.240,Information Technology,2019-02-05,46970283.0,0,0,10713450
15624,2023-12-08,2023,AAPL,195.710,Information Technology,2019-02-05,46970283.0,0,0,10713450
15655,2023-12-15,2023,AAPL,197.570,Information Technology,2019-02-05,46970283.0,0,0,10713450
15686,2023-12-22,2023,AAPL,193.600,Information Technology,2019-02-05,46970283.0,0,0,10713450
15717,2023-12-29,2023,AAPL,192.530,Information Technology,2019-02-05,46970283.0,0,0,10713450

### Compute returns
Cash incentive for CEO

Compensation ratio is computed as 
$\frac{Cash}{Cash + Equity}$

where 1.0 denotes 100% cash compensation, and 0.0 denotes 100% equity compensation

In [5]:
# add columns to aapl_df
aapl_df.loc[:,"equity_Compensation_CEO"] = aapl_df['TOT_STK_AWD_GIVEN_TO_CEO_EQUIV']+aapl_df["TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV"]
aapl_df.loc[:,"cash_incentive_CEO"] = aapl_df['TOT_BONUSES_PAID_TO_CEO_EQUIV']+aapl_df['TOT_N_EQT_INCENT_GVN_TO_CEO_EQ']
aapl_df.loc[:,"Variable_Pay_CEO"] = aapl_df["cash_incentive_CEO"]+aapl_df["equity_Compensation_CEO"]+0.01
aapl_df.loc[:,"cash_incentive_CEO_percent"] = aapl_df["cash_incentive_CEO"]/aapl_df["Variable_Pay_CEO"]

display(aapl_df)

,Dates,Year,symbol,PX_LAST,gics_sector_name,DATE_OF_LAST_EXECUTIVE_CHANGE,TOT_STK_AWD_GIVEN_TO_CEO_EQUIV,TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV,TOT_BONUSES_PAID_TO_CEO_EQUIV,TOT_N_EQT_INCENT_GVN_TO_CEO_EQ,equity_Compensation_CEO,cash_incentive_CEO,Variable_Pay_CEO,cash_incentive_CEO_percent
0,2014-04-11,2014,AAPL,18.558,Information Technology,2014-05-29,0.0,0,0,6700000,0.0,6700000,6700000.01,1.000000
31,2014-04-18,2014,AAPL,18.748,Information Technology,2014-05-29,0.0,0,0,6700000,0.0,6700000,6700000.01,1.000000
62,2014-04-25,2014,AAPL,20.426,Information Technology,2014-05-29,0.0,0,0,6700000,0.0,6700000,6700000.01,1.000000
93,2014-05-02,2014,AAPL,21.164,Information Technology,2014-05-29,0.0,0,0,6700000,0.0,6700000,6700000.01,1.000000
124,2014-05-09,2014,AAPL,20.912,Information Technology,2014-05-29,0.0,0,0,6700000,0.0,6700000,6700000.01,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15593,2023-12-01,2023,AAPL,191.240,Information Technology,2019-02-05,46970283.0,0,0,10713450,46970283.0,10713450,57683733.01,0.185727
15624,2023-12-08,2023,AAPL,195.710,Information Technology,2019-02-05,46970283.0,0,0,10713450,46970283.0,10713450,57683733.01,0.185727
15655,2023-12-15,2023,AAPL,197.570,Information Technology,2019-02-05,46970283.0,0,0,10713450,46970283.0,10713450,57683733.01,0.185727
15686,2023-12-22,2023,AAPL,193.600,Information Technology,2019-02-05,46970283.0,0,0,10713450,46970283.0,10713450,57683733.01,0.185727
15717,2023-12-29,2023,AAPL,192.530,Information Technology,2019-02-05,46970283.0,0,0,10713450,46970283.0,10713450,57683733.01,0.185727

### Plot compensation ratio to returns

In [ ]:
# Get Numpy array of weekly returns
weekly_returns = aapl_df['PX_LAST'].pct_change() * 100
weekly_returns = weekly_returns.dropna()
weekly_returns = weekly_returns.to_numpy()

# Get Numpy array of CEO cash incentive percentages
cash_incentive = aapl_df['cash_incentive_CEO_percent'].iloc[1:]

[ 1.02381722e+00  8.95028803e+00  3.61304220e+00 -1.19070119e+00
  2.04667177e+00  2.77881912e+00  3.07299503e+00  1.98611050e+00
 -1.02359473e+00 -4.03155127e-01  1.17476241e+00  2.23091977e+00
  1.26339969e+00 -8.27557236e-01  3.43104033e+00 -1.57670571e+00
 -1.44800899e+00  3.41988600e+00  3.40885895e+00  1.16462692e+00
 -3.44195122e+00  2.71591965e+00 -6.88569742e-01 -2.06022187e-01
 -1.12355090e+00  1.11624172e+00 -3.03776357e+00  7.72790564e+00
  2.64208325e+00  9.37037037e-01  4.74076248e+00  2.00735681e+00
  2.11209561e+00 -3.30609088e+00 -4.58086957e+00  1.86636533e+00
  1.97888710e+00 -4.08800618e+00  2.45124941e+00 -5.37442417e+00
  6.59295041e+00  3.69976987e+00  1.51246159e+00  6.85097367e+00
  1.90116462e+00 -8.00024711e-01 -1.44792153e+00 -2.37598736e+00
  1.86743479e+00 -2.10325655e+00  1.67786324e+00  1.42036387e+00
 -1.84736428e+00  4.43119148e+00 -1.02241326e+00 -1.02987251e+00
  9.02679831e-01  2.92610195e+00 -1.70514562e+00 -1.24961621e+00
 -1.15039020e+00 -4.49784544e-01  1.20063191e-01 -2.46149962e-01
 -2.49920911e+00  5.14276444e+00 -3.95000771e+00 -2.57028112e+00
 -4.76504534e+00  3.80886427e-01 -8.79613660e+00  7.12178517e+00
 -3.54835293e+00  4.52082876e+00 -6.65429202e-01  1.11060184e+00
 -3.77641398e+00  1.57637253e+00 -9.63253657e-01  7.24063401e+00
  3.52704064e-01  1.30543933e+00 -7.20303981e+00  6.19547801e+00
 -1.24727578e+00  1.03554816e+00 -4.91632502e+00 -6.31560346e+00
  1.88622303e+00 -2.56590640e+00 -7.88523656e+00  1.77392739e-01
  4.41461104e+00 -4.02287517e+00 -3.41072529e+00 -2.97808977e-02
  2.17890884e+00  9.07955019e-01  6.29437015e+00 -7.30012037e-01
  3.57911207e+00 -2.34138973e-01  4.08812174e+00 -1.21099716e+00
  1.09699982e+00 -3.79783709e+00 -1.12982589e+01 -1.08811607e+00
 -2.37273512e+00  5.19222271e+00  5.38962403e+00 -2.42346939e+00
  9.31372549e-01 -3.54136312e+00 -2.02660177e+00  2.66809422e+00
  8.21757811e-01  2.17211419e+00 -1.21482081e-01  5.62740726e+00
  3.13591525e+00  6.51283960e-01  1.09077463e+00 -2.21287491e+00
  7.40602207e-01 -4.26985482e+00  1.14300120e+01 -1.92133658e+00
  3.01653772e-01  8.91625093e-01  3.13168508e+00 -8.77312296e-01
 -2.46998285e+00 -4.29124165e+00 -3.74862183e-01  1.50140180e+00
  1.57368708e+00 -1.69242880e+00  3.68698817e+00  1.77267621e+00
  4.72527852e-01 -6.00755235e-01  1.80625108e+00  9.56645634e-01
  8.06451613e-01  1.62666667e+00  5.84492259e+00  2.35512860e+00
  2.72479564e+00  6.92602417e-01  2.28303820e+00 -4.57862355e-01
  6.12332902e-01  4.62883593e-01  2.14732651e+00 -2.22748155e-01
 -1.59620483e+00  8.64929246e-01  9.69973009e-01  3.69504079e+00
  4.79323308e+00 -1.94746957e+00  3.60642885e-01  1.19782309e+00
 -4.16334303e+00 -4.50261780e+00  2.81713900e+00 -1.54498223e+00
  1.11095681e-01  3.37078652e+00  8.26623725e-01 -5.13735094e-01
  4.61003344e+00  6.95687759e-01  1.27000254e-02  1.49841270e+00
  2.62229451e+00 -3.30383049e+00  7.86726512e-01 -4.99624719e+00
  1.46683170e+00  7.65637166e-01  1.08950419e+00 -4.71361598e-01
  4.35194430e+00  5.79447048e+00  1.25913043e+00 -2.58770725e+00
  2.83276130e+00 -2.24035846e+00 -9.82157473e-01  2.71591526e+00
  5.97797347e-01 -3.30263068e+00  3.40833885e+00  1.19542857e+00
  7.72479841e-01 -3.89330943e+00 -6.42054200e+00 -2.54704050e+00
  1.02421809e+01  1.77925211e+00  4.05698006e-01  2.13833337e+00
 -1.08900989e+00 -7.34748905e+00  1.72183824e+00  3.57611157e-01
  3.77241953e+00 -5.15761280e+00 -2.05165339e+00  1.32528339e+01
  2.58932068e+00 -1.20895902e+00  1.21731289e+00  8.80263018e-01
  7.67451640e-01 -1.49191445e+00 -2.07583139e+00  1.03828683e-01
  1.54501059e+00  1.78750027e+00  5.64463864e-02 -2.40284162e-01
  8.90773903e+00 -2.21162352e-01  4.84166297e+00 -6.52633514e-01
  5.30717987e+00 -2.78168272e+00  1.14776322e+00 -2.76090064e+00
  3.71221171e+00 -6.41445911e-01 -9.71947283e-01 -1.26062527e+00
 -1.37338586e+00 -4.07766990e+00 -1.44977829e+00 -5.35036582e+00
 -1.09749292e+01  3.64961809e+00 -5.64900885e+00 -1.78762196e+00
 -8.91225526e+00  3.64886023e+00 -5.10266783e+00  2.71954674e+00
  2.97323563e+00  5.99413340e-01  5.55273834e+00  2.33725679e+00
  4.69450508e-03  1.49747682e+00  1.15625650e+00 -1.17733123e+00
  7.63856760e+00  2.64990329e+00 -5.75759479e-01  3.71041105e+00
  9.50253807e-01  2.50814594e+00  2.15834396e-01  3.64757709e+00
 -6.88163512e+00 -4.14849376e+00 -5.30582011e+00 -2.17911182e+00
  8.61359898e+00  1.36101645e+00  3.13375532e+00 -4.32639099e-01
  3.18916734e+00 -4.56343766e-01 -3.48253812e-01  2.54106776e+00
 -1.79069991e+00 -1.48416822e+00  2.74040758e+00 -1.86924939e+00
  3.01026451e+00  2.16537319e+00  2.57526025e+00 -4.66281451e-01
  4.99696875e-01  3.74371630e+00  4.05264920e+00  8.46697035e-02
  4.30096611e+00  3.74726255e+00  1.68868736e+00  2.16037518e+00
 -1.49759181e+00  2.09030484e+00  1.29465823e+00  1.64011939e+00
  1.55841135e+00  3.70741483e+00  2.63354037e+00  4.33712580e+00
  2.70677855e+00 -1.31772147e-01 -2.76458318e+00  3.39889891e+00
  1.53734627e+00 -3.66207932e+00 -1.26790437e+01  5.73309921e+00
 -3.82656592e+00 -1.75312621e+01  8.07014483e+00 -2.55429079e+00
  1.10102232e+01  5.52553808e+00  6.08203678e-02  2.15569032e+00
  7.28538219e+00 -7.80312899e-01  3.63326747e+00 -2.98533673e-01
  4.26495565e+00  2.20211161e+00  3.22314050e+00  1.11860917e+00
  2.96353271e+00  5.37417058e+00  4.25354462e-01 -3.85453866e+00
  1.47330346e+01  4.56709957e+00  3.41544194e+00  8.23441362e+00
  3.52174962e-01 -3.08313570e+00 -7.40740741e+00 -4.60714286e+00
  5.09172595e+00  6.59066619e-01  3.49495664e+00  1.75258613e+00
 -3.34397580e+00 -5.37204451e+00  9.02994672e+00  4.80242649e-01
 -1.60992789e+00 -6.39168229e-01  4.85461875e+00  1.30879346e-01
  3.46785393e+00  4.19643915e+00  5.45578541e-01 -4.82327229e-01
 -3.71828853e+00  9.38335693e+00 -5.11253326e+00  3.63746590e+00
 -1.01637906e+00 -4.06293861e+00 -6.62970663e+00  1.31947881e-01
 -3.21199143e-01 -8.59291085e-01  1.01675140e+00  1.47677584e+00
  8.12601626e+00  8.75972781e-01  1.19260584e-01 -2.12924360e+00
 -9.50859577e-01 -2.11965287e+00 -1.58493527e+00 -6.53751096e-01
  1.02720488e+00  1.15974263e+00  2.44208873e+00  2.03127395e+00
  5.14611975e+00  3.67962275e+00  8.82089449e-01  1.48234169e+00
 -1.81744750e+00  1.91964898e-01  2.02545504e+00 -6.10328638e-01
  2.76671840e-01  3.83580081e+00 -3.45430979e+00 -1.95341344e+00
  5.88799124e-01 -2.90634359e+00  1.75254118e-01  1.35759272e+00
  2.65810550e+00  7.46519605e-01  9.87983979e-01 -8.52723427e-01
  7.04046936e+00 -2.32949237e+00  3.20770359e+00  1.08811172e+01
 -4.63081638e+00  3.00338904e+00  7.31790334e-01 -3.04105423e+00
  5.22739153e-01 -6.15935749e+00  4.87654701e+00  1.20941701e+00
 -2.17530019e+00 -7.94592030e-01 -1.46443515e+00 -1.01910828e+00
 -5.17251946e+00  5.97815550e+00  6.54957922e+00 -2.34661172e-01
 -2.42097413e+00 -2.82203539e+00 -2.11749047e+00 -2.55887261e+00
 -2.34697114e-01 -6.46617497e+00 -6.47134797e+00  8.75790392e+00
 -2.84683240e+00 -5.67478333e+00 -4.06183913e+00  7.67710550e+00
 -1.92714951e+00  5.83747211e+00  2.12867247e+00  2.61037491e+00
  5.46433902e+00  1.74758476e+00  4.08224977e+00 -3.37013364e-01
 -4.60587687e+00 -4.77325510e+00  1.00121943e+00 -4.23841901e+00
 -1.79163902e-01 -8.13002726e+00  1.36758321e+00 -1.22064387e+00
  6.42433878e+00  5.75134107e+00 -1.11467831e+01  8.18037289e+00
  1.06212425e+00 -2.10192346e+00 -2.02552157e-01 -3.82247480e+00
 -5.38126055e+00 -1.97011375e+00 -1.46367359e+00 -2.38590010e-01
  3.96543743e+00  2.30780647e+00  5.84608689e+00  5.87267868e+00
 -2.25889968e+00  1.01980001e+00 -3.82825303e+00  2.94458455e+00
 -1.67516387e+00  4.37710438e+00  3.38709677e+00  2.90171607e+00
 -1.45542753e-01  3.34021620e-01 -1.15005145e-01  2.82390013e+00
  2.29255068e+00 -5.76136429e-01  1.50084024e+00  1.54144782e-01
  3.14655418e+00  5.52638851e-03  2.18832891e+00  9.51762925e-01
  3.90507821e+00 -1.69613858e+00  5.24438850e-03  6.55514185e-01
  2.02667500e+00 -7.06735434e+00 -2.30781911e+00 -1.85612239e+00
  2.36116683e+00  6.07468787e+00 -5.95376333e+00 -1.77909979e+00
 -1.25707102e-01 -2.04817209e+00  3.66801005e+00  7.66240352e-01
 -3.33799273e+00 -2.69551134e+00  5.01129473e+00  5.51938862e+00
  1.76502146e+00  1.47609257e-01  6.68526609e-01  2.33737712e+00
  9.50385775e-01 -2.00941438e+00 -5.52685950e-01]