### Import libraries

In [1]:
import numpy as np
import pandas as pd

### Import data

In [2]:
path_to_data  = '../../data/OriginalData.csv'
data = pd.read_csv(path_to_data)

print(data.info())
display(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15748 entries, 0 to 15747
Data columns (total 49 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Dates                             15748 non-null  object
 1   symbol                            15748 non-null  object
 2   PX_LAST                           15748 non-null  float64
 3   Dividend_Per_Share                15748 non-null  float64
 4   TOTAL_EQUITY                      15748 non-null  float64
 5   CUR_MKT_CAP                       15748 non-null  float64
 6   gics_sector_name                  15748 non-null  object
 7   gics_sub_industry_name            15748 non-null  object
 8   gics_industry_name                15748 non-null  object
 9   gics_industry_group_name          15748 non-null  object
 10  gics_industry                     15748 non-null  int64
 11  gics_sector                       15748 non-null  int64
 12  Year                              15748 non-null  int64
 13  TOT_COMPENSATION_AW_TO_EXECS      15748 non-null  float64
 14  TOT_SALARIES_BNS_PD_TO_EXECS      15748 non-null  float64
 15  TOT_N_EQTY_INCENT_GIVEN_TO_EXECS  15748 non-null  int64
 16  TOT_SALARIES_PAID_TO_EXECUTIVES   15748 non-null  float64
 17  TOTAL_BONUSES_PAID_TO_EXECUTIVES  15748 non-null  int64
 18  ALL_OTHER_COMP_AW_TO_EXECS        15748 non-null  float64
 19  TOT_STK_AWARDS_GIVEN_TO_EXECS     15748 non-null  float64
 20  TOT_OPTION_AWARDS_GIVEN_TO_EXECS  15748 non-null  int64
 21  T_PEN_NQ_DEF_PEN_GVN_TO_EXECS     15748 non-null  float64
 22  TOT_OTHER_COMP_AW_TO_EXECS        15748 non-null  float64
 23  NUM_EXECUTIVE_CHANGES             15748 non-null  int64
 24  DATE_OF_LAST_EXECUTIVE_CHANGE     15748 non-null  object
 25  NUM_EXECS_INC_IN_COMPENSATION_PD  15748 non-null  int64
 26  CEO_DUALITY                       15748 non-null  int64
 27  TOT_COMP_AW_TO_CEO_EQUIV          15748 non-null  float64
 28  TOT_SAL_BNS_AW_TO_CEO_EQUIV       15748 non-null  float64
 29  TOT_N_EQT_INCENT_GVN_TO_CEO_EQ    15748 non-null  int64
 30  TOT_SALARIES_PAID_TO_CEO_EQUIV    15748 non-null  float64
 31  TOT_BONUSES_PAID_TO_CEO_EQUIV     15748 non-null  int64
 32  ALL_OTHER_COMP_AW_TO_CEO_EQUIV    15748 non-null  float64
 33  TOT_STK_AWD_GIVEN_TO_CEO_EQUIV    15748 non-null  float64
 34  TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV    15748 non-null  int64
 35  T_PEN_NQ_DEF_PEN_GVN_CEO_EQ       15748 non-null  float64
 36  TOT_OTHER_COMP_AW_TO_CEO_EQUIV    15748 non-null  float64
 37  NUM_CEO_EQUIVALENT_CHANGES        15748 non-null  int64
 38  COMP_LKD_LAST_CEO_&_EQUIV_CHG_DT  15748 non-null  int64
 39  NUM_CEOS_EQUIV_INC_COMP_PD        15748 non-null  int64
 40  CEO_TENURE_AS_OF_FY_END           15748 non-null  float64
 41  TOT_COMP_AW_TO_CFO_EQUIV          15748 non-null  float64
 42  TOT_COMP_AW_TO_COO_EQUIV          15748 non-null  int64
 43  TOTAL_BOD_COMPENSATION_AWARDED    15748 non-null  float64
 44  TOTAL_BOD_FEES_PAID_IN_CASH       15748 non-null  float64
 45  TOTAL_BOD_STOCK_AWARDS_GIVEN      15748 non-null  float64
 46  NUMBER_OF_BOD_CHANGES_DURING_FY   15748 non-null  int64
 47  DATE_OF_LAST_BOD_CHANGE           15748 non-null  object
 48  NUM_DIR_INC_IN_CMPNSTN_PD         15748 non-null  int64
dtypes: float64(23), int64(18), object(8)
memory usage: 5.9+ MB
None

,Dates,symbol,PX_LAST,Dividend_Per_Share,TOTAL_EQUITY,CUR_MKT_CAP,gics_sector_name,gics_sub_industry_name,gics_industry_name,gics_industry_group_name,...,NUM_CEOS_EQUIV_INC_COMP_PD,CEO_TENURE_AS_OF_FY_END,TOT_COMP_AW_TO_CFO_EQUIV,TOT_COMP_AW_TO_COO_EQUIV,TOTAL_BOD_COMPENSATION_AWARDED,TOTAL_BOD_FEES_PAID_IN_CASH,TOTAL_BOD_STOCK_AWARDS_GIVEN,NUMBER_OF_BOD_CHANGES_DURING_FY,DATE_OF_LAST_BOD_CHANGE,NUM_DIR_INC_IN_CMPNSTN_PD
0,2014-04-11,AAPL,18.5580,0.1089,120179.000,463486.4114,Information Technology,"Technology Hardware, Storage & Peripherals","Technology Hardware, Storage & Peripherals",Technology Hardware & Equipment,...,1,3.7500,18520521.0,0,2638340.0,697500.0,1906645.0,2,2014-07-17,8
1,2014-04-11,AMT,80.5500,0.3200,3701.605,31870.1921,Real Estate,Telecom Tower REITs,Specialized REITs,Equity Real Estate Investment Trusts (REITs),...,1,11.2500,4904866.0,0,1975088.0,775000.0,600071.0,1,2014-12-18,9
2,2014-04-11,AMZN,15.5870,0.0000,10328.000,143440.4076,Consumer Discretionary,Broadline Retail,Broadline Retail,Consumer Discretionary Distribution & Retail,...,1,18.6670,5962307.0,0,797000.0,0.0,797000.0,1,2014-07-31,9
3,2014-04-11,BHP,58.8727,0.0000,82279.000,180544.3056,Materials,Diversified Metals & Mining,Metals & Mining,Materials,...,1,1.1667,4639000.0,0,4695000.0,3617000.0,0.0,1,2014-04-15,13
4,2014-04-11,CAT,101.4500,0.6000,20369.000,64707.0750,Industrials,Construction Machinery & Heavy Transportation ...,Machinery,Capital Goods,...,1,4.5000,5286968.0,0,3206983.0,1714174.0,1375110.0,1,2014-12-31,11

### Returns
Cash incentive for CEO

Compensation ratio is computed as 
$\frac{Cash}{Cash + Equity}$

where 1.0 denotes 100% cash compensation, and 0.0 denotes 100% equity compensation

We are finding, however, that $Cash + Equity$ returns zero for certain companies. This implies that a companies CEO is being paid neither cash nor equity. The goal is to find if they are being paid something else. Within our data set, we have a column dedicated to $other$ $compensation$. We will be seeing if a company whose $Cash + Equity$ is zero holds a nonzero value for that feature.

In [3]:
# add columns to data
data.loc[:,"equity_Compensation_CEO"] = data['TOT_STK_AWD_GIVEN_TO_CEO_EQUIV']+data["TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV"]   # Equity compensation   = Total stock awards + Total option awards
data.loc[:,"cash_incentive_CEO"] = data['TOT_BONUSES_PAID_TO_CEO_EQUIV']+data['TOT_N_EQT_INCENT_GVN_TO_CEO_EQ']         # Cash incentive        = Total bonuses paid + Total equity incentive given
data.loc[:,"Variable_Pay_CEO"] = data["cash_incentive_CEO"]+data["equity_Compensation_CEO"]                             # Variable Pay          = Cash incentive + Equity incentive
#data.loc[:,"cash_incentive_CEO_percent"] = data["cash_incentive_CEO"]/data["Variable_Pay_CEO"]                          # Cash incentive ratio  = Cash incentive / (Cash incentive + Equity incentive)

display(data.head())

,Dates,symbol,PX_LAST,Dividend_Per_Share,TOTAL_EQUITY,CUR_MKT_CAP,gics_sector_name,gics_sub_industry_name,gics_industry_name,gics_industry_group_name,...,TOT_COMP_AW_TO_COO_EQUIV,TOTAL_BOD_COMPENSATION_AWARDED,TOTAL_BOD_FEES_PAID_IN_CASH,TOTAL_BOD_STOCK_AWARDS_GIVEN,NUMBER_OF_BOD_CHANGES_DURING_FY,DATE_OF_LAST_BOD_CHANGE,NUM_DIR_INC_IN_CMPNSTN_PD,equity_Compensation_CEO,cash_incentive_CEO,Variable_Pay_CEO
0,2014-04-11,AAPL,18.5580,0.1089,120179.000,463486.4114,Information Technology,"Technology Hardware, Storage & Peripherals","Technology Hardware, Storage & Peripherals",Technology Hardware & Equipment,...,0,2638340.0,697500.0,1906645.0,2,2014-07-17,8,0.0,6700000,6700000.0
1,2014-04-11,AMT,80.5500,0.3200,3701.605,31870.1921,Real Estate,Telecom Tower REITs,Specialized REITs,Equity Real Estate Investment Trusts (REITs),...,0,1975088.0,775000.0,600071.0,1,2014-12-18,9,9000058.0,2574000,11574058.0
2,2014-04-11,AMZN,15.5870,0.0000,10328.000,143440.4076,Consumer Discretionary,Broadline Retail,Broadline Retail,Consumer Discretionary Distribution & Retail,...,0,797000.0,0.0,797000.0,1,2014-07-31,9,0.0,0,0.0
3,2014-04-11,BHP,58.8727,0.0000,82279.000,180544.3056,Materials,Diversified Metals & Mining,Metals & Mining,Materials,...,0,4695000.0,3617000.0,0.0,1,2014-04-15,13,3338000.0,1568000,4906000.0
4,2014-04-11,CAT,101.4500,0.6000,20369.000,64707.0750,Industrials,Construction Machinery & Heavy Transportation ...,Machinery,Capital Goods,...,0,3206983.0,1714174.0,1375110.0,1,2014-12-31,11,8377481.0,4913288,13290769.0

We hold off on storing the cash incentive ratio for now; the code is commented out.

### Find target companies

We are interested in companies whose $variable$ $pay$ column holds 0.

In [4]:
# Store target companies to separate dataframe
target_data = data[data['Variable_Pay_CEO'] == 0.0]

# Display ALL target companies
print(target_data.info())
display(target_data)

<class 'pandas.core.frame.DataFrame'>
Index: 1419 entries, 2 to 15742
Data columns (total 52 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Dates                             1419 non-null   object
 1   symbol                            1419 non-null   object
 2   PX_LAST                           1419 non-null   float64
 3   Dividend_Per_Share                1419 non-null   float64
 4   TOTAL_EQUITY                      1419 non-null   float64
 5   CUR_MKT_CAP                       1419 non-null   float64
 6   gics_sector_name                  1419 non-null   object
 7   gics_sub_industry_name            1419 non-null   object
 8   gics_industry_name                1419 non-null   object
 9   gics_industry_group_name          1419 non-null   object
 10  gics_industry                     1419 non-null   int64
 11  gics_sector                       1419 non-null   int64
 12  Year                              1419 non-null   int64
 13  TOT_COMPENSATION_AW_TO_EXECS      1419 non-null   float64
 14  TOT_SALARIES_BNS_PD_TO_EXECS      1419 non-null   float64
 15  TOT_N_EQTY_INCENT_GIVEN_TO_EXECS  1419 non-null   int64
 16  TOT_SALARIES_PAID_TO_EXECUTIVES   1419 non-null   float64
 17  TOTAL_BONUSES_PAID_TO_EXECUTIVES  1419 non-null   int64
 18  ALL_OTHER_COMP_AW_TO_EXECS        1419 non-null   float64
 19  TOT_STK_AWARDS_GIVEN_TO_EXECS     1419 non-null   float64
 20  TOT_OPTION_AWARDS_GIVEN_TO_EXECS  1419 non-null   int64
 21  T_PEN_NQ_DEF_PEN_GVN_TO_EXECS     1419 non-null   float64
 22  TOT_OTHER_COMP_AW_TO_EXECS        1419 non-null   float64
 23  NUM_EXECUTIVE_CHANGES             1419 non-null   int64
 24  DATE_OF_LAST_EXECUTIVE_CHANGE     1419 non-null   object
 25  NUM_EXECS_INC_IN_COMPENSATION_PD  1419 non-null   int64
 26  CEO_DUALITY                       1419 non-null   int64
 27  TOT_COMP_AW_TO_CEO_EQUIV          1419 non-null   float64
 28  TOT_SAL_BNS_AW_TO_CEO_EQUIV       1419 non-null   float64
 29  TOT_N_EQT_INCENT_GVN_TO_CEO_EQ    1419 non-null   int64
 30  TOT_SALARIES_PAID_TO_CEO_EQUIV    1419 non-null   float64
 31  TOT_BONUSES_PAID_TO_CEO_EQUIV     1419 non-null   int64
 32  ALL_OTHER_COMP_AW_TO_CEO_EQUIV    1419 non-null   float64
 33  TOT_STK_AWD_GIVEN_TO_CEO_EQUIV    1419 non-null   float64
 34  TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV    1419 non-null   int64
 35  T_PEN_NQ_DEF_PEN_GVN_CEO_EQ       1419 non-null   float64
 36  TOT_OTHER_COMP_AW_TO_CEO_EQUIV    1419 non-null   float64
 37  NUM_CEO_EQUIVALENT_CHANGES        1419 non-null   int64
 38  COMP_LKD_LAST_CEO_&_EQUIV_CHG_DT  1419 non-null   int64
 39  NUM_CEOS_EQUIV_INC_COMP_PD        1419 non-null   int64
 40  CEO_TENURE_AS_OF_FY_END           1419 non-null   float64
 41  TOT_COMP_AW_TO_CFO_EQUIV          1419 non-null   float64
 42  TOT_COMP_AW_TO_COO_EQUIV          1419 non-null   int64
 43  TOTAL_BOD_COMPENSATION_AWARDED    1419 non-null   float64
 44  TOTAL_BOD_FEES_PAID_IN_CASH       1419 non-null   float64
 45  TOTAL_BOD_STOCK_AWARDS_GIVEN      1419 non-null   float64
 46  NUMBER_OF_BOD_CHANGES_DURING_FY   1419 non-null   int64
 47  DATE_OF_LAST_BOD_CHANGE           1419 non-null   object
 48  NUM_DIR_INC_IN_CMPNSTN_PD         1419 non-null   int64
 49  equity_Compensation_CEO           1419 non-null   float64
 50  cash_incentive_CEO                1419 non-null   int64
 51  Variable_Pay_CEO                  1419 non-null   float64
dtypes: float64(25), int64(19), object(8)
memory usage: 587.6+ KB
None

,Dates,symbol,PX_LAST,Dividend_Per_Share,TOTAL_EQUITY,CUR_MKT_CAP,gics_sector_name,gics_sub_industry_name,gics_industry_name,gics_industry_group_name,...,TOT_COMP_AW_TO_COO_EQUIV,TOTAL_BOD_COMPENSATION_AWARDED,TOTAL_BOD_FEES_PAID_IN_CASH,TOTAL_BOD_STOCK_AWARDS_GIVEN,NUMBER_OF_BOD_CHANGES_DURING_FY,DATE_OF_LAST_BOD_CHANGE,NUM_DIR_INC_IN_CMPNSTN_PD,equity_Compensation_CEO,cash_incentive_CEO,Variable_Pay_CEO
2,2014-04-11,AMZN,15.5870,0.0,10328.000,1.434404e+05,Consumer Discretionary,Broadline Retail,Broadline Retail,Consumer Discretionary Distribution & Retail,...,0,7.970000e+05,0.0,7.970000e+05,1,2014-07-31,9,0.0,0,0.0
13,2014-04-11,META,58.5300,0.0,16737.000,1.492364e+05,Communication Services,Interactive Media & Services,Interactive Media & Services,Media & Entertainment,...,15549402,1.929824e+09,390000.0,1.929434e+09,1,2014-10-06,7,0.0,0,0.0
25,2014-04-11,TSLA,13.5853,0.0,981.998,2.510405e+04,Consumer Discretionary,Automobile Manufacturers,Automobiles,Automobiles & Components,...,0,7.357739e+06,178736.0,0.000000e+00,2,2014-08-11,7,0.0,0,0.0
33,2014-04-18,AMZN,16.2460,0.0,10328.000,1.495051e+05,Consumer Discretionary,Broadline Retail,Broadline Retail,Consumer Discretionary Distribution & Retail,...,0,7.970000e+05,0.0,7.970000e+05,1,2014-07-31,9,0.0,0,0.0
44,2014-04-18,META,58.9400,0.0,16737.000,1.502818e+05,Communication Services,Interactive Media & Services,Interactive Media & Services,Media & Entertainment,...,15549402,1.929824e+09,390000.0,1.929434e+09,1,2014-10-06,7,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15699,2023-12-22,META,353.3900,0.0,142873.000,9.081638e+05,Communication Services,Interactive Media & Services,Interactive Media & Services,Media & Entertainment,...,25558488,9.891451e+06,995000.0,3.387596e+06,0,2022-01-11,8,0.0,0,0.0
15711,2023-12-22,TSLA,252.5400,0.0,54495.000,8.028048e+05,Consumer Discretionary,Automobile Manufacturers,Automobiles,Automobiles & Components,...,0,1.035000e+04,10350.0,0.000000e+00,2,2023-05-16,8,0.0,0,0.0
15719,2023-12-29,AMZN,151.9400,0.0,201875.000,1.570153e+06,Consumer Discretionary,Broadline Retail,Broadline Retail,Consumer Discretionary Distribution & Retail,...,0,4.514830e+06,0.0,4.514830e+06,3,2023-09-13,12,0.0,0,0.0
15730,2023-12-29,META,353.9600,0.0,153168.000,9.096286e+05,Communication Services,Interactive Media & Services,Interactive Media & Services,Media & Entertainment,...,25558488,9.891451e+06,995000.0,3.387596e+06,0,2022-01-11,8,0.0,0,0.0
15742,2023-12-29,TSLA,248.4800,0.0,63609.000,7.898984e+05,Consumer Discretionary,Automobile Manufacturers,Automobiles,Automobiles & Components,...,0,1.035000e+04,10350.0,0.000000e+00,2,2023-05-16,8,0.0,0,0.0

In [5]:
# Display keys in target data
# Narrow the dataframe down 

def print_list(list):
    for i in range(len(list)):
        print("%-4d%-40s" % (i, list[i]), end = ' ')
        if i%4 == 0 and i != 0:
            print()
    print('\n')

keys = target_data.keys()

print_list(keys)

0   Dates                                    1   symbol                                   2   PX_LAST                                  3   Dividend_Per_Share                       4   TOTAL_EQUITY
5   CUR_MKT_CAP                              6   gics_sector_name                         7   gics_sub_industry_name                   8   gics_industry_name
9   gics_industry_group_name                 10  gics_industry                            11  gics_sector                              12  Year
13  TOT_COMPENSATION_AW_TO_EXECS             14  TOT_SALARIES_BNS_PD_TO_EXECS             15  TOT_N_EQTY_INCENT_GIVEN_TO_EXECS         16  TOT_SALARIES_PAID_TO_EXECUTIVES
17  TOTAL_BONUSES_PAID_TO_EXECUTIVES         18  ALL_OTHER_COMP_AW_TO_EXECS               19  TOT_STK_AWARDS_GIVEN_TO_EXECS            20  TOT_OPTION_AWARDS_GIVEN_TO_EXECS
21  T_PEN_NQ_DEF_PEN_GVN_TO_EXECS            22  TOT_OTHER_COMP_AW_TO_EXECS               23  NUM_EXECUTIVE_CHANGES                    24  DATE_OF_LAST_EXECUTIVE_CHANGE
25  NUM_EXECS_INC_IN_COMPENSATION_PD         26  CEO_DUALITY                              27  TOT_COMP_AW_TO_CEO_EQUIV                 28  TOT_SAL_BNS_AW_TO_CEO_EQUIV
29  TOT_N_EQT_INCENT_GVN_TO_CEO_EQ           30  TOT_SALARIES_PAID_TO_CEO_EQUIV           31  TOT_BONUSES_PAID_TO_CEO_EQUIV            32  ALL_OTHER_COMP_AW_TO_CEO_EQUIV
33  TOT_STK_AWD_GIVEN_TO_CEO_EQUIV           34  TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV           35  T_PEN_NQ_DEF_PEN_GVN_CEO_EQ              36  TOT_OTHER_COMP_AW_TO_CEO_EQUIV
37  NUM_CEO_EQUIVALENT_CHANGES               38  COMP_LKD_LAST_CEO_&_EQUIV_CHG_DT         39  NUM_CEOS_EQUIV_INC_COMP_PD               40  CEO_TENURE_AS_OF_FY_END
41  TOT_COMP_AW_TO_CFO_EQUIV                 42  TOT_COMP_AW_TO_COO_EQUIV                 43  TOTAL_BOD_COMPENSATION_AWARDED           44  TOTAL_BOD_FEES_PAID_IN_CASH
45  TOTAL_BOD_STOCK_AWARDS_GIVEN             46  NUMBER_OF_BOD_CHANGES_DURING_FY          47  DATE_OF_LAST_BOD_CHANGE                  48  NUM_DIR_INC_IN_CMPNSTN_PD
49  equity_Compensation_CEO                  50  cash_incentive_CEO                       51  Variable_Pay_CEO

In [6]:
# Remove the first 13 features as they are not immediately necessary to this analysis
relevant_keys = pd.Index(list(keys[0:2]) + list(keys[13:]))
print_list(relevant_keys)

0   Dates                                    1   symbol                                   2   TOT_COMPENSATION_AW_TO_EXECS             3   TOT_SALARIES_BNS_PD_TO_EXECS             4   TOT_N_EQTY_INCENT_GIVEN_TO_EXECS
5   TOT_SALARIES_PAID_TO_EXECUTIVES          6   TOTAL_BONUSES_PAID_TO_EXECUTIVES         7   ALL_OTHER_COMP_AW_TO_EXECS               8   TOT_STK_AWARDS_GIVEN_TO_EXECS
9   TOT_OPTION_AWARDS_GIVEN_TO_EXECS         10  T_PEN_NQ_DEF_PEN_GVN_TO_EXECS            11  TOT_OTHER_COMP_AW_TO_EXECS               12  NUM_EXECUTIVE_CHANGES
13  DATE_OF_LAST_EXECUTIVE_CHANGE            14  NUM_EXECS_INC_IN_COMPENSATION_PD         15  CEO_DUALITY                              16  TOT_COMP_AW_TO_CEO_EQUIV
17  TOT_SAL_BNS_AW_TO_CEO_EQUIV              18  TOT_N_EQT_INCENT_GVN_TO_CEO_EQ           19  TOT_SALARIES_PAID_TO_CEO_EQUIV           20  TOT_BONUSES_PAID_TO_CEO_EQUIV
21  ALL_OTHER_COMP_AW_TO_CEO_EQUIV           22  TOT_STK_AWD_GIVEN_TO_CEO_EQUIV           23  TOT_OPT_AWD_GIVEN_TO_CEO_EQUIV           24  T_PEN_NQ_DEF_PEN_GVN_CEO_EQ
25  TOT_OTHER_COMP_AW_TO_CEO_EQUIV           26  NUM_CEO_EQUIVALENT_CHANGES               27  COMP_LKD_LAST_CEO_&_EQUIV_CHG_DT         28  NUM_CEOS_EQUIV_INC_COMP_PD
29  CEO_TENURE_AS_OF_FY_END                  30  TOT_COMP_AW_TO_CFO_EQUIV                 31  TOT_COMP_AW_TO_COO_EQUIV                 32  TOTAL_BOD_COMPENSATION_AWARDED
33  TOTAL_BOD_FEES_PAID_IN_CASH              34  TOTAL_BOD_STOCK_AWARDS_GIVEN             35  NUMBER_OF_BOD_CHANGES_DURING_FY          36  DATE_OF_LAST_BOD_CHANGE
37  NUM_DIR_INC_IN_CMPNSTN_PD                38  equity_Compensation_CEO                  39  cash_incentive_CEO                       40  Variable_Pay_CEO

In [ ]:
# We will use the data shown here for now
target_data = target_data[relevant_keys]

# Check that thisn data only contains companies whose variable pay is zero
# If outputs are the same then the data is queried properly
print(target_data.shape[0])
print(target_data[target_data['Variable_Pay_CEO'] == 0.0].shape[0])

1419
1419

Column of interest: ALL_OTHER_COMP_AW_TO_CEO_EQUIV

Ideally, for these companies who return a 0 for variable pay, this column should be nonzero

In [40]:
# Analyze column of interest

zero_entries = target_data[target_data['ALL_OTHER_COMP_AW_TO_CEO_EQUIV'] == 0.0]
nonzero_entries = target_data[target_data['ALL_OTHER_COMP_AW_TO_CEO_EQUIV'] != 0.0]

print('Zero entries count\t', zero_entries.shape[0])
print('Nonzero entries count\t', nonzero_entries.shape[0])
print('Total\t\t\t', zero_entries.shape[0] + nonzero_entries.shape[0])

Zero entries count	 456
Nonzero entries count	 963
Total			 1419

### Companies whose have the column of interest = 0

In [41]:
zero_entries

,Dates,symbol,TOT_COMPENSATION_AW_TO_EXECS,TOT_SALARIES_BNS_PD_TO_EXECS,TOT_N_EQTY_INCENT_GIVEN_TO_EXECS,TOT_SALARIES_PAID_TO_EXECUTIVES,TOTAL_BONUSES_PAID_TO_EXECUTIVES,ALL_OTHER_COMP_AW_TO_EXECS,TOT_STK_AWARDS_GIVEN_TO_EXECS,TOT_OPTION_AWARDS_GIVEN_TO_EXECS,...,TOT_COMP_AW_TO_COO_EQUIV,TOTAL_BOD_COMPENSATION_AWARDED,TOTAL_BOD_FEES_PAID_IN_CASH,TOTAL_BOD_STOCK_AWARDS_GIVEN,NUMBER_OF_BOD_CHANGES_DURING_FY,DATE_OF_LAST_BOD_CHANGE,NUM_DIR_INC_IN_CMPNSTN_PD,equity_Compensation_CEO,cash_incentive_CEO,Variable_Pay_CEO
25,2014-04-11,TSLA,30688909.0,1170875.0,0,1170875.0,0,29518034.0,32655.0,29485379,...,0,7357739.0,178736.0,0.0,2,2014-08-11,7,0.0,0,0.0
56,2014-04-18,TSLA,30688909.0,1170875.0,0,1170875.0,0,29518034.0,32655.0,29485379,...,0,7357739.0,178736.0,0.0,2,2014-08-11,7,0.0,0,0.0
87,2014-04-25,TSLA,30688909.0,1170875.0,0,1170875.0,0,29518034.0,32655.0,29485379,...,0,7357739.0,178736.0,0.0,2,2014-08-11,7,0.0,0,0.0
118,2014-05-02,TSLA,30688909.0,1170875.0,0,1170875.0,0,29518034.0,32655.0,29485379,...,0,7357739.0,178736.0,0.0,2,2014-08-11,7,0.0,0,0.0
149,2014-05-09,TSLA,30688909.0,1170875.0,0,1170875.0,0,29518034.0,32655.0,29485379,...,0,7357739.0,178736.0,0.0,2,2014-08-11,7,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15618,2023-12-01,TSLA,33433223.0,1236394.0,0,1236394.0,0,32196829.0,0.0,31641961,...,0,10350.0,10350.0,0.0,2,2023-05-16,8,0.0,0,0.0
15649,2023-12-08,TSLA,33433223.0,1236394.0,0,1236394.0,0,32196829.0,0.0,31641961,...,0,10350.0,10350.0,0.0,2,2023-05-16,8,0.0,0,0.0
15680,2023-12-15,TSLA,33433223.0,1236394.0,0,1236394.0,0,32196829.0,0.0,31641961,...,0,10350.0,10350.0,0.0,2,2023-05-16,8,0.0,0,0.0
15711,2023-12-22,TSLA,33433223.0,1236394.0,0,1236394.0,0,32196829.0,0.0,31641961,...,0,10350.0,10350.0,0.0,2,2023-05-16,8,0.0,0,0.0
15742,2023-12-29,TSLA,33433223.0,1236394.0,0,1236394.0,0,32196829.0,0.0,31641961,...,0,10350.0,10350.0,0.0,2,2023-05-16,8,0.0,0,0.0

### Companies who have a column of interest ≠ 0

In [42]:
nonzero_entries

,Dates,symbol,TOT_COMPENSATION_AW_TO_EXECS,TOT_SALARIES_BNS_PD_TO_EXECS,TOT_N_EQTY_INCENT_GIVEN_TO_EXECS,TOT_SALARIES_PAID_TO_EXECUTIVES,TOTAL_BONUSES_PAID_TO_EXECUTIVES,ALL_OTHER_COMP_AW_TO_EXECS,TOT_STK_AWARDS_GIVEN_TO_EXECS,TOT_OPTION_AWARDS_GIVEN_TO_EXECS,...,TOT_COMP_AW_TO_COO_EQUIV,TOTAL_BOD_COMPENSATION_AWARDED,TOTAL_BOD_FEES_PAID_IN_CASH,TOTAL_BOD_STOCK_AWARDS_GIVEN,NUMBER_OF_BOD_CHANGES_DURING_FY,DATE_OF_LAST_BOD_CHANGE,NUM_DIR_INC_IN_CMPNSTN_PD,equity_Compensation_CEO,cash_incentive_CEO,Variable_Pay_CEO
2,2014-04-11,AMZN,30691428.0,741840.0,0,741840.0,0,29949588.0,28283983.0,0,...,0,7.970000e+05,0.0,7.970000e+05,1,2014-07-31,9,0.0,0,0.0
13,2014-04-11,META,68334248.0,5854072.0,0,2592031.0,3262041,62480176.0,56226501.0,0,...,15549402,1.929824e+09,390000.0,1.929434e+09,1,2014-10-06,7,0.0,0,0.0
33,2014-04-18,AMZN,30691428.0,741840.0,0,741840.0,0,29949588.0,28283983.0,0,...,0,7.970000e+05,0.0,7.970000e+05,1,2014-07-31,9,0.0,0,0.0
44,2014-04-18,META,68334248.0,5854072.0,0,2592031.0,3262041,62480176.0,56226501.0,0,...,15549402,1.929824e+09,390000.0,1.929434e+09,1,2014-10-06,7,0.0,0,0.0
64,2014-04-25,AMZN,30691428.0,741840.0,0,741840.0,0,29949588.0,28283983.0,0,...,0,7.970000e+05,0.0,7.970000e+05,1,2014-07-31,9,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15668,2023-12-15,META,120415656.0,8173482.0,0,3848081.0,4325401,112242174.0,85972184.0,0,...,25558488,9.891451e+06,995000.0,3.387596e+06,0,2022-01-11,8,0.0,0,0.0
15688,2023-12-22,AMZN,4600271.0,1906840.0,0,1906840.0,0,2693431.0,0.0,0,...,0,4.514830e+06,0.0,4.514830e+06,3,2023-09-13,12,0.0,0,0.0
15699,2023-12-22,META,120415656.0,8173482.0,0,3848081.0,4325401,112242174.0,85972184.0,0,...,25558488,9.891451e+06,995000.0,3.387596e+06,0,2022-01-11,8,0.0,0,0.0
15719,2023-12-29,AMZN,4600271.0,1906840.0,0,1906840.0,0,2693431.0,0.0,0,...,0,4.514830e+06,0.0,4.514830e+06,3,2023-09-13,12,0.0,0,0.0
15730,2023-12-29,META,120415656.0,8173482.0,0,3848081.0,4325401,112242174.0,85972184.0,0,...,25558488,9.891451e+06,995000.0,3.387596e+06,0,2022-01-11,8,0.0,0,0.0